@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.WarehouseDetails {
  margin: 1rem 1rem 0 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgb(19 24 44 / 0.1);

  @include tablet {
    padding: 0;
    margin: 2rem;
  }

  @include desktop {
    max-width: 1020px;
    margin: 2rem auto;
  }

  &__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $cloud;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    @include tablet {
      padding: 2rem 2rem 1.5rem 2rem;
    }
    @include desktop {
      padding: 2rem 2.5rem 1.5rem 2.5rem;
    }
  }

  &__back-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  &__title {
    color: $instock-black;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.25rem;
  }

  &__button-wrapper {
    width: 2.25rem;
    height: 2.25rem;
    background-color: $instock-indigo;
    border-radius: 1.25rem;
    display: flex;
    margin-left: auto;

    @include tablet {
      width: 5.0625rem;
      height: 2.375rem;
      padding: 0.5625rem 1rem;
    }
  }

  &__edit-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin: auto;

    @include tablet {
      margin: auto auto auto 0;
    }
  }

  &__edit-text {
    display: none;

    @include tablet {
      display: flex;
      margin: 0;
      color: $white;
      font-size: 0.875rem;
    }
  }

  &__info-container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      padding: 1.5rem 2rem;
    }
    @include desktop {
      padding: 1.5rem 2.5rem;
    }
  }

  &__address {
    width: 100%;
    @include tablet {
      width: 32%;
      max-width: 7.8rem;
    }
  }

  &__contact {
    width: 100%;
    margin-top: 2.25rem;
    display: flex;
    @include tablet {
      justify-content: space-evenly;
      margin: 0 0 0 auto;
      width: 68%;
    }
  }

  &__contact-name {
    width: 50%;
    @include tablet {
      width: 11.375rem;
      border-left: 1px solid $cloud;
      padding-left: 2.5rem;
    }
  }

  &__contact-info {
    width: 50%;
    @include tablet {
      width: 11.375rem;
    }
  }

  &__label {
    color: $slate;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-right: 0.25rem;
  }

  &__text {
    color: $instock-black;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    margin: 0.25rem 0 0 0;
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin: 0;
    }
  }
  &__sort-row {
    display: none;

    @include tablet {
      background-color: rgb(247 248 249 / 0.7);
      height: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &__sort-inventory {
    @include tablet {
      display: flex;
      width: 19.5%;
    }
    @include desktop {
      width: 17.2%;
    }
  }

  &__sort-category {
    @include tablet {
      display: flex;
      width: 15.75%;
    }
    @include desktop {
      width: 20.4%;
    }
  }

  &__sort-status {
    @include tablet {
      display: flex;
      width: 16%;
    }
    @include desktop {
      width: 13.6%;
    }
  }

  &__sort-qty {
    @include tablet {
      display: flex;
      width: 23%;
      padding-left: 3rem;
    }
    @include desktop {
      width: 17.2%;
    }
  }

  &__sort-action {
    @include tablet {
      display: flex;
      width: 13.8%;
      justify-content: flex-end;
    }
    @include desktop {
      width: 5%;
    }
  }

  &__sort-text {
    color: $slate;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-right: 0.25rem;
  }

  &__sort-action-text {
    color: $slate;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__sort-icon {
    width: 1rem;
    height: 1rem;
  }
}
