//primary colors

$instock-black :#13182c; //global text color
$instock-indigo:#2E66E5; //interactive elements
$white:#FFFFFF; //global white color


//secondary colors
$slate:#5C667E; //table column headers & placeholder text
$cloud:#BDC5D5; //outlines, dividers, borders, table sorting icon

//background colors
$graphite:#232940; //top navigation header background, CTA button hover state background
$light-grey:#F7F8F9; //page background, table column header background, CTA background

//supporting colors
$green:#158463; //"in stock" label
$red:#C94515; //"out of stock" label, error states, delete icon