@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-warehouse{
    padding:0 $mobile-verticle;

    &__box{
        padding: 2rem 1rem;
        display: flex;
        flex-direction: row;
        border-bottom:1px solid $cloud;
    }

    &__arrow{
        width:2rem;
        height:2rem;
    }

    &__title-text{
        display: block;
        width:85%;
    }
}