@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-inventory {
  margin: 1rem;
  padding: 1rem 0 0 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgb(19 24 44 / 10%);
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  top: -4rem;
  margin-top: 0rem;

  @include tablet {
    padding: 0;
    margin: 2rem;
  }

  @include desktop {
    max-width: 1020px;
    margin: 2rem auto;
  }
  // &__box {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  &__content {
    margin: 1rem;
    //padding: 1rem 0;
    @include tablet {
      padding: 0;
      margin: 2rem;
      display: flex;
    }
    @include desktop {
      max-width: 1020px;
      margin: 2rem auto;
    }
  }
  &__box-titleblock {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: 1px solid $cloud;
    padding: 1rem;
    @include tablet {
      margin: 0 0 2rem 0;
    }
  }
  &__box-titleblock--icons {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0;
  }
  &__box-titleblock--title {
    font-size: 1.75rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__container {
    background-color: $light-grey;
    padding: 1rem 0;
    @include tablet {
      margin: 2rem 0 0 0;
    }
  }
  &__container__buttons {
    display: flex;
    justify-content: center;
    margin: 0 1rem 0 1rem;
    gap: 1rem;
    @include tablet {
      justify-content: flex-end;
      margin: 0 2rem 0 0rem;
    }
  }

  &__container__buttons--button {
    font-size: 0.8125rem;
    width: 100%;
    height: 2rem;
    border: 1px solid $cloud;
    border-radius: 20px;
    font-family: "Titillium Web";
    @include tablet {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 0 1rem;
    }
  }
  &__container__buttons--cancel {
    background-color: #ffffff;
    color: $graphite;
  }
  &__container__buttons--save {
    color: #ffffff;
    background-color: $instock-indigo;
  }
}
