@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.EmptyState {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  @include tablet {
    padding: 0;
  }

  &__text {
    color: $slate;
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
}
