@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.WarehouseDetailsPage {
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgb(19 24 44 / 0.1);
  position: relative;
  z-index: 1;
  background-color: $white;
  top: -$mobile-overflow;
  margin-top: 0rem;

  @include tablet {
    padding: 0;
    margin: 2rem;
    top: -$tablet-overflow;
    
    margin-top: 0rem;
  }

  @include desktop {
    max-width: 1020px;
    margin: 2rem auto;
    top: -$desktop-overflow;

    margin-top: 0rem;
}
}