@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.WarehouseInventory {

  &__sort-row {
    display: none;

    @include tablet {
      background-color: rgb(247 248 249 / 0.7);
      height: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &__sort-inventory {
    @include tablet {
      display: flex;
      width: 19.5%;
    }
    @include desktop {
      width: 21%;
    }
  }

  &__sort-category {
    @include tablet {
      display: flex;
      width: 16%;
    }
    @include desktop {
      width: 18%;
    }
  }

  &__sort-status {
    @include tablet {
      display: flex;
      width: 16%;
    }
    @include desktop {
      width: 18%;
    }
  }

  &__sort-quant {
    @include tablet {
      display: flex;
      width: 8%;
    }
    @include desktop {
      width: 9%;
    }
  }
  &__sort-action {
    @include tablet {
      display: flex;
      width: 12%;
      justify-content: flex-end;
    }
    @include desktop {
      width: 10%;
    }
  }

  &__sort-text {
    color: $slate;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-right: 0.25rem;
  }

  &__sort-action-text {
    color: $slate;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__sort-icon {
    width: 1rem;
    height: 1rem;
  }
}
