@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  a {
    text-decoration: none;
  }
<<<<<<< HEAD
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
=======

>>>>>>> develop
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
